/*reset*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


html {
font-size : 62.5%;
scroll-behavior : smooth;

}
body {
font : 1.6rem sans-serif;
margin : 0;
line-height: 1.5;
background-color:#363E40;
}
* {
    box-sizing : border-box;
    }

 h1,h2,h3,h4,p,ol,figure {
margin : 0;
padding : 0;
list-style : none;
}
h1,h2, h3,h4,h5,h6 {
font-family: 'Roboto', sans-serif;
font-weight : 200;
text-transform : capitalize;
}

figure img {
display: inline-block;
vertical-align: middle;
object-fit: cover;
}

a {
text-decoration : none;
color : #222;
}









/*  theme */
:root{

--color-primary : #000000;
--color-secondary : #ffffff;
--color-complementary : #2D3436;
--color-last : #D14600;
--color-header :#DFE6E9;
--color-text: rgb(2, 2, 2);

}

header {
    font-size: 16px;
    text-align: center;
    background-color: #DFE6E9;
    padding: 0 0 1rem;
}


/* header img {
    height: 20px;
    width: 20px;
} */





.logo{
    background-color:var(--color-secondary);
    padding: .1rem 0 0;
    text-align: center;
    font-size: medium;
    text-transform: uppercase;           /* mettre en Maj  */
    margin-bottom: 2rem;
}
.logo ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin:   0  5rem 0;
}
.logo ul li a {
    margin: 1rem;

}
main{
    margin : 0rem 0 27rem 0 ;
    border-radius: .6rem;
    }
    main figure{
        position: relative;
        display: flex;
        margin:  10rem auto 10rem auto;
        background-color:var(--color-secondary);
        max-width: 80rem;
    }
    
    figcaption{
        margin-top: 2rem;
        font-size: 16px;
    }
    
    figcaption h2 {
    font-size: medium;
    } 
    main figure{
        position: relative;
        display: flex;
        margin:  10rem auto 10rem auto;
        background-color:var(--color-secondary);
        max-width: 80rem;
    }

strong{
    font-weight: 550 ;
    font-family:Arial, Helvetica, sans-serif;

}
figure figcaption p  {
margin: 1rem auto
        
}

main figure button{
   
    position: absolute;      /* pour aligner le bouton et cadi */
    bottom: 1rem;
    right: 1rem;
    line-height: 3.5rem;

    background-color:var(--color-last);
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 20rem;
    padding: 0.5rem;
    font-size: 18px;

}
main figure button img{
    filter: invert(100%);
    display: inline-block;     /*  pour aligner le cadi */
   
}

span{
    padding: 0; 
    margin: 0;
}

footer {
    margin:  auto;
    padding: 1rem;
    border: solid .1rem var(--color-border);
    background-color: var(--color-secondary);
    text-align: center;
}

@media screen and (max-width: 50rem){
    body{
        background-color: #fff;
    }
    .logo ul{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        margin: 0rem;
        padding: 0rem;
    }
    .logo ul li{
        margin: 0rem;
    }
    figure {
        display: flex;
        flex-direction: column;
        font-size: 14px; 
        }
        main{
            margin: 0rem;
        }
        main figure img{
            max-width: 30rem;
        }
        main figure div{
            margin: 0 auto;
        }
        main figure figcaption{
            margin: 0rem 1rem;
        }
        main figure button{
            display: block;
            position: inherit;
            margin: 1rem auto;
        }



        @media screen and (orientation: landscape) {
            main ul.top{
                display: flex;
                flex-direction: row;
                margin: 0rem;
            }
            main ul.top li a{
                justify-content: center;
            }
        }
}


